<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.QRcodeLoginMapper">

    <insert id="insert" parameterType="com.example.demo.pojo.QrLogin">
        insert into login_qr
        value (#{qrLogin.userid},
        #{qrLogin.username},
        #{qrLogin.randchar}
        )
    </insert>

    <select id="hasRandchar" parameterType="String" resultType="String">
        select username
        from login_qr where randchar=#{randchar}
    </select>


</mapper>
