<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">

    <select id="findByUsername" parameterType="String" resultType="int">
        select count(*)
        from login_test3 where username=#{username}
    </select>



    <select id="findByUsernameAndPassword" parameterType="String" resultType="com.example.demo.pojo.User">
        select *
        from login_test3
        where username=#{username} and password=#{password}
    </select>

    <insert id="register" parameterType="com.example.demo.pojo.User">
        insert into login_test3
        value (null,
            #{record.username},
            #{record.password}
        )
    </insert>
    
    <update id="alterPassword">
        update login_test3
        set password = #{newpassword}
        where username=#{username} and password=#{primarypassword}
    </update>

</mapper>

